.signupbimage {
    background-image: url('/img/illustrations/illustration-signup.jpg');
    background-size: cover;
}

.signinbimage {
    background-image: url('/img/illustrations/illustration-signup.jpg');
    background-size: cover;
}

.error, .error-message {
    color: red;
}

.success {
    color: seagreen;
}